# .env
# POSTGRES
# POSTGRES_HOST=postgres
# POSTGRES_USER=postgres
# POSTGRES_PASSWORD=admin
# POSTGRES_DATABASE=postgres
# POSTGRES_PORT=5432
# Backend API
BACKEND_PORT=8000
FRONTEND_PORT=3000
# S3-Compatible Storage
S3_ENDPOINT=https://some.objectstore.anygov.ca
S3_ACCESS_KEY=nr-access-key
S3_SECRET_KEY=some-secret-key
S3_BUCKET_NAME=bigbucket
MYHOST=testhost
# burn-severity geoparquet file
PARQUET_PATH=burn-severity/bs.parquet