:{{ .Values.frontend.service.port }} {
    root * /usr/share/caddy

    route {
        handle_path /pg-bs/* {
            reverse_proxy {{ include "frontend.backendServiceName" . }}:{{ .Values.backend.service.port }}
        }

        handle_path /api/* {
            reverse_proxy {{ include "frontend.backendServiceName" . }}:{{ .Values.backend.service.port }}
        }
        handle_path /analysis/* {
            reverse_proxy {{ include "frontend.analysisServiceName" . }}:{{ .Values.analysis.service.port }}
        }

        handle {
            try_files {path} /index.html
            file_server
        }
    }
}