@import '~leaflet/dist/leaflet.css';
@import '~@bcgov/bc-sans/css/BCSans.css';

html, body {
  font-family: 'BCSans', sans-serif;
  margin: 0;
  height: 100%;
  min-height: 100%;
  background: #f5f5f5;
}

body {
  display: flex;
  flex-direction: column;
}

#app {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}